- const aboutContainer = `grid md:grid-cols-2 container-custom`

section(class=aboutContainer)#about

  #about-left
    include ../partials/heading
    p Quis cillum dolore ex ut ullamco et dolor. Do duis Lorem commodo qui Lorem quis est et reprehenderit labore eiusmod aliquip aliquip fugiat officia. Consectetur ad excepteur mollit ea velit quis eiusmod incididunt consequat voluptate esse anim ea consectetur. Id minim est anim labore proident id aute elit incididunt sint cupidatat.
    p Eu amet qui esse ea. Reprehenderit do minim dolore irure pariatur. Anim nisi elit minim incididunt consequat reprehenderit amet excepteur elit ut nostrud dolore et mollit enim. Cupidatat enim velit esse incididunt ut occaecat qui ut dolore enim magna. Non quis mollit non dolor qui eu consequat eiusmod sint labore adipisicing ea laboris sint mollit. Eu velit amet amet labore magna.

  #about-right 
    img(src=require("images/yard.png"), alt="")