include ../partials/section-heading

- const aboutSection = `container-custom`;

- const aboutContentContainer = `grid lg:grid-cols-2 gap-8 lg:gap-16`;

section#about(class=aboutSection)
  +section-heading('About us')

  div(class=aboutContentContainer)
    #about-left.space-y-8
        //- p We understand that finding a reliable and secure space to store your valuable vehicles can be a challenge. That's why we are here to provide you with the ultimate peace of mind for all your parking needs. With years of experience in the industry, we have established ourselves as a trusted name in secure vehicle storage.
        //- p Our spacious yard is specifically designed to accommodate trucks, trailers, RVs, and boats of all sizes, ensuring that you have ample space to store your vehicles without any hassle. We take pride in offering a clean and well-maintained facility that adheres to the highest standards of security. 
        //- p So, whether you are a truck driver looking for a safe place to park your rig overnight, an RV enthusiast seeking a reliable storage solution, or a boat owner longing for a secure spot, [Your Name]'s Parking Yard has got you covered! Contact us today to learn more about our services and reserve your spot. Trust us to safeguard your vehicles while you focus on what matters most to you.

        p <span class="font-semibold"> Welcome to Rocklin Industrial Parking, </span> your trusted destination for secure vehicle storage! We understand the challenges of finding reliable and spacious storage for your valuable vehicles. That's why we're here to provide you with the ultimate peace of mind.

        p At Rocklin Industrial Parking, we have a spacious yard designed to accommodate trucks, trailers, RVs, and boats of all sizes. Our facility is clean, well-maintained, and adheres to the highest standards of security. You can trust us to keep your vehicles safe and secure.

        p Whether you're a truck driver in need of overnight parking, an RV enthusiast seeking a reliable storage solution, or a boat owner looking for a secure spot, we've got you covered. Don't hesitate to contact us today to learn more about our services and reserve your spot.

        p Choose Rocklin Industrial Parking and let us take care of your vehicles while you focus on what matters most to you.

    #about-right
      img(src=require("images/yard.png"), alt="")
