
- const metricsData = require("data/metricsData.json");

- const metricsContentContainer = `container-custom flex flex-col md:flex-row`;

- const metricItemContainer = `text-center space-y-4 border-blackish border [&:not(:last-child)]:border-b-0 md:[&:not(:last-child)]:border-b md:[&:not(:first-child)]:border-l-0 flex-1 py-[calc(3rem+3vw)]`

section#metrics.bg-accent

  div(class=metricsContentContainer)
    each metric,index in metricsData
      div(class=metricItemContainer)
        div.text-5xl.font-accent.flex.justify-center
          h3(id="metric-" + (index+1))= metric.title
          span= index < 3 ? "+" : ""
        p.font-semibold= metric.description

