doctype html
html(lang="en")
  head

  //-  meta(charset="UTF-8")
  //-  meta(name="viewport" content="width=device-width, initial-scale=1.0")
    base(href="/")

    title Trendiva


    link(rel='stylesheet' href=require('css/styles.css'))
    script(src=require('js/app.js') defer='defer')

  body.bg-green-500
    include partials/navigation

    main.bg-red-400.h-screen.text-2xl
      h1 welcome to the site
