//- - const headingAndSignContainer = `md:grid grid-cols-2 flex-1 items-center relative`


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")

    title Rocklin Industrial Parking Inc.


    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Anton&family=Space+Grotesk:wght@300;400;500;600;700&display=swap",
      rel="stylesheet"
    )

    link(rel="stylesheet", href=require("css/styles.css"))
    script(src=require("js/app.js"), defer="defer")

  body.font-body.text-blackish
    include partials/header

    main
      include pages/about

      include pages/features

      //- include pages/highways

      include pages/metrics

      include pages/footer



