doctype html
html(lang='en')
 head
  title Hello, hell

  link(rel='stylesheet' href=require('css/styles.css'))
  script(src=require('js/app.js') defer='defer')

 body.bg-green-500
   h1 Hello,  world
   div.remark
     p Pug rock yes ph