//- - let count = 0

//- while count < 3
//-   svg(viewBox="0 0 31 12" class=headingArrowSVG + ' heading-arrow')
//-     path(id="Rectangle 8",
//-       d="M0 0H25.5759L30.4321 5.8363L25.5759 11.6726H0L4.85619 5.8363L0 0Z"
//-     )
//-   - count++


svg(viewBox="0 0 31 12" class=headingArrowSVG + ' heading-arrow')
  path(id="Rectangle 8",
    d="M0 0H25.5759L30.4321 5.8363L25.5759 11.6726H0L4.85619 5.8363L0 0Z"
  )